<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Privacy Policy</h1>
<p>We will not share you information with anyone. The information you provide will be removed
   out of our system after two years.</p>
