<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Terms of Services</h1>
<p>We are not responsible for any mistakes in prices or product information. If you notice any issues please
   contact us so that we can quickly resolve the issue.</p>
   